body {
 font-family: Arial, Helvetica, sans-serif;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    background-color: #FFDB58;
    border-radius: 10px;
    width: 550px;
    height: 700px;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

#screen {
    background-color: #979797;
    color: #ecea5f;
    width: 500px;
    height: 90px;
    text-align: right;
    font-size:60pt;
    clip-path: xywh(0 0px 100% 100% round 15% 0);
    position: relative;
}

#screen::after {
    content: "";
    width: 35px;
    height: 55px;
    background: #ecea5f;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: rgb(44, 43, 43); */
}

.number-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    position: relative;
}

.number-button {
    background-color: #ccaf46;
    font-weight: bold;
    color: rgb(75, 74, 74);
    padding: 0;
    border: none;
    width: 80px;
    height: 80px;
    cursor: pointer;
    clip-path: polygon(50% 2%, 98% 25%, 98% 75%, 50% 98%, 2% 75%, 2% 25%);
}

.number-button:active {
    transform: translateY(3px);
}

.operant-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
}

.operant-button {
    background-color: #998334;
    font-weight: bold;
    color: #4b4a4a;
    padding: 0;
    border: none;
    width: 80px;
    height: 80px;
    cursor: pointer;
    clip-path: polygon(50% 2%, 98% 25%, 98% 75%, 50% 98%, 2% 75%, 2% 25%);
}

.operant-button:active {
    transform: translateY(-3px);
}

#equals {
    background-color: #979797;
    font-weight: bold;
    color: #4b4a4a;
}

#reset, #backspace {
    background-color: black;
    font-weight: bold;
    color: #4b4a4a;
}